<div>
    <a name = "About"></a>

    <div class = "bg">
<!--         <img scale="0" src="images/about_logo.jpg" width="100%" style="margin-top: -15%;animation:1.3s fadeIn; animation-fill-mode: forwards;"> -->
        <span><h1 class="title">關於我們</h1></span>
    </div>

    <div class="mdl-grid demo-content">
        <div id="aboutAnn">
            <h3 style="font-weight: bold; animation:1.3s fadeIn; animation-fill-mode: forwards;">我們是誰？</h3>
            <p style="font-size: 18px; animation:1.2s fadeIn;animation-delay: 0.0s;animation-fill-mode: forwards;">一群熱情於程式設計的學生，致力於推廣Open Source精神。</p>

            <h3 style="font-weight: bold; animation:1.1s fadeIn;animation-delay: 0.0s;animation-fill-mode: forwards;">我們做什麼？</h3>
            <p style="font-size: 18px; animation:1s fadeIn;animation-delay: 0.0s;animation-fill-mode: forwards;">Web、Android App開發以及跨平台程式開發。</p>
        </div>
    </div>
</div>