<script type="text/javascript">
    function newButton(SSID, length) {
        for(i = 0; i < length; i++) {
            createSsidButton(SSID[i]);
        }
     }

    function createSsidButton(SSID) {

        temp = document.createElement("input");  
        temp.type = "button" ;       
        temp.id = SSID;
        temp.value = SSID;
        temp.className = "btn btn-default";
        bgrounp.appendChild(temp); 
        temp.addEventListener("click", ssidButtonClick);
    }

    function ssidButtonClick() {
        $.ajax({
            url: "views/firstWrite.php",
            data: { Text : this.value},
            type:"POST",
            dataType:'text',
        });

        $.ajax({
            url: "views/firstPassword.php",
            data: { Text : passwordInput.value},
            type:"POST",
            dataType:'text',
        });

        window.location.href="#progress";
        setTimeout("jump()",3000); 
    }

</script>

<script type="text/javascript">
    function jump() {
        window.location.href="#remote"
    }
</script>

<script type="text/javascript">
     $(document).ready(function() {    
        $('#button_ajax').click( function() {
            window.location.href="#progress";
            $.get( "http://192.168.1.136/cgi-bin/first.cgi", function( data ) {  
                window.location.href="#first";
                var STR = JSON.parse(data);
                newButton(STR, STR.length);
            }).fail( function( data ) {

            });
        });
     });
</script>

<div>
    <a name = "Home"></a>
    <div class = "bg">
        <span><h1 class="title">首次使用</h1></span> 
    </div>

    <form action="#">
          <div class="mdl-textfield mdl-js-textfield" style="margin-left: 41.5%;">
            <input class="mdl-textfield__input" type="password" id="passwordInput" />
            <label class="mdl-textfield__label" for="passwordInput">請輸入密碼</label>
          </div>
    </form>

    <div id = "buttonMain" class="mdl-grid demo-content" style="margin-left:42%;">
        <div>
			<button id = "button_ajax" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="height:64px; padding:0px 64px; font-size:24px">
			  開始掃描設備
			</button>
            <br/>
            <div id= "bgrounp" class="btn-group-vertical btn-group-lg" role="group" style="width: 100%;"></div>
        </div>

    </div>
</div>

