<script type="text/javascript">
    function newButton(SSID, length) {
        for(i = 0; i < length; i++) {
            createSsidButton(SSID[i]);
        }
     }

    function createSsidButton(SSID) {

        temp = document.createElement("input");  
        temp.type = "button" ;       
        temp.id = SSID;
        temp.value = SSID;
        temp.className = "btn btn-default";
        bgrounp.appendChild(temp); 
        temp.addEventListener("click", ssidButtonClick);
    }

    function ssidButtonClick() {
            
    }
</script>

<script type="text/javascript">
     $(document).ready(function() {    
        $('#button_ajax').click( function() {
            window.location.href="#progress";
            $.get( "http://192.168.1.195/cgi-bin/check.cgi", function( data ) {  
                window.location.href="#/home/1";
                var STR = JSON.parse(data);
                newButton(STR, STR.length);
            }).fail( function( data ) {

            });
        });
     });
</script>

<div>
    <a name = "Home"></a>
    <div class = "bg">
        <span><h1 class="title">主畫面</h1></span> 
    </div>
    <div id = "buttonMain" class="mdl-grid demo-content" style="margin-left:42%;">
        <div>
			<button id = "button_ajax" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="height:64px; padding:0px 64px; font-size:24px">
			  開始掃描設備
			</button>
            <br/>
            <div id= "bgrounp" class="btn-group-vertical btn-group-lg" role="group" style="width: 100%;"></div>
        </div>

    </div>
</div>
