<script type="text/javascript">
    $(document).ready(function() {    
        $('#B1').click( function() {
            $.get( "http://192.168.1.196:8080/1.php");
        });
     });
</script>

<script type="text/javascript">
    $(document).ready(function() {    
        $('#B2').click( function() {
            $.get( "http://192.168.1.196:8080/2.php");
        });
     });
</script>


<div>
    <a name = "Remote"></a>

    <div class = "bg">
<!--         <img scale="0" src="images/about_logo.jpg" width="100%" style="margin-top: -15%;animation:1.3s fadeIn; animation-fill-mode: forwards;"> -->
        <span><h1 class="title">遙控</h1></span>
    </div>

    <div class="mdl-grid demo-content">
        <div id="Remoter">
            <button id = "B1" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="font-size: 50px; width: 300px; height: 250px">
              ON
            </button>

            <button id = "B2" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="font-size: 50px; width: 300px; height: 250px">
              OFF
            </button>
        </div>
    </div>
</div>